{% extends "dashboard/base.html" %}
{% block content %}
{% load static %}
            <!-- ============================================================== -->
            <!-- Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
             <div class="page-breadcrumb">
                <div class="row">
                    <div class="col-12 d-flex no-block align-items-center">
                        <h4 class="page-title">Dashboard</h4>
                        <div class="ml-auto text-right">
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Bread crumb and right sidebar toggle -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Container fluid  -->
            <!-- ============================================================== -->
            <div class="container-fluid">
                <!-- ============================================================== -->
                <!-- Sales Cards  -->
                <!-- ============================================================== -->

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Balance Sheet</h5>
                                <div class="row">
                                    <div class="col-md-6 border-right">
                                        <div class="card">
                                            <div class="row">
                                                <a class="card-header link col-md-6" data-toggle="collapse" data-parent="#accordian-4"
                                                    href="#Toggle-1" aria-expanded="true" aria-controls="Toggle-1">
                                                    <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                                                    <span>Total Current Assets</span>
                                                </a>
                                                <div class="card-header col-md-6 text-right">
                                                    ${{ current_assets }}
                                                </div>
                                            </div>
                                            <div id="Toggle-1" class="collapse show multi-collapse">
                                                <div class="card-body row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Cash:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ cash }}
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Accounts Recievable:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ ar }}
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Inventory:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ inventory }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <a class="card-header link col-md-6" data-toggle="collapse" data-parent="#accordian-4"
                                                    href="#Toggle-2" aria-expanded="true" aria-controls="Toggle-1">
                                                    <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                                                    <span>Total Fixed Assets</span>
                                                </a>
                                                <div class="card-header col-md-6 text-right">
                                                    $0.00
                                                </div>
                                            </div>
                                            <div id="Toggle-2" class="collapse show multi-collapse">
                                                <div class="card-body row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Land/Buildings:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        $0.00
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Equiptment:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        $0.00
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Furniture and Fixtures:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        $0.00
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <a class="card-header link collapsed border-top" data-toggle="collapse"
                                                data-parent="#accordian-4" href="#Toggle-3" aria-expanded="false"
                                                aria-controls="Toggle-3">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                <span>Toggle, Closed by default</span>
                                            </a> -->
                                            <!-- <div class="collapse multi-collapse show">
                                                <div class="card-body widget-content text-right">
                                                    This box is now open
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="card">
                                            <div class="row">
                                                <a class="card-header link col-md-6" data-toggle="collapse" data-parent="#accordian-4"
                                                    href="#Toggle-3" aria-expanded="true" aria-controls="Toggle-1">
                                                    <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                                                    <span>Total Current Liabilities</span>
                                                </a>
                                                <div class="card-header col-md-6 text-right">
                                                    ${{ current_liabilities }}
                                                </div>
                                            </div>
                                            <div id="Toggle-3" class="collapse show multi-collapse">
                                                <div class="card-body row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Accounts Payable:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ current_liabilities }}
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Notes Payable:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        $0.00
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Accruals:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        $0.00
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <a class="card-header link col-md-6" data-toggle="collapse" data-parent="#accordian-4"
                                                    href="#Toggle-4" aria-expanded="true" aria-controls="Toggle-4">
                                                    <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                                                    <span>Total Long Term Debt</span>
                                                </a>
                                                <div class="card-header col-md-6 text-right">
                                                    $0.00
                                                </div>
                                            </div>
                                            <div id="Toggle-4" class="collapse show multi-collapse">
                                                <div class="card-body row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Mortgage:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        $0.00
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- <a class="card-header link collapsed border-top" data-toggle="collapse"
                                                data-parent="#accordian-4" href="#Toggle-3" aria-expanded="false"
                                                aria-controls="Toggle-3">
                                                <i class="fa fa-times" aria-hidden="true"></i>
                                                <span>Toggle, Closed by default</span>
                                            </a> -->
                                            <!-- <div class="collapse multi-collapse show">
                                                <div class="card-body widget-content text-right">
                                                    This box is now open
                                                </div>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="card-header col-md-6 font-bold text-right"></div>
                                            <div class="card-header col-md-3 font-bold text-right">
                                                Total Assets:    
                                            </div>
                                            <div class="card-header col-md-3 font-bold text-right">
                                                ${{ current_assets }}   
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="card-header col-md-6 font-bold text-right"></div>
                                            <div class="card-header col-md-3 font-bold text-right">
                                                Total Liabilities:    
                                            </div>
                                            <div class="card-header col-md-3 font-bold text-right">
                                                ${{ current_liabilities }} 
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 card-header">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="card-header col-md-9 font-bold text-right">
                                                Net Worth:    
                                            </div>
                                            <div class="card-header col-md-3 font-bold text-right">
                                                ${{ nw }}  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6 card-header">
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row">
                                            <div class="card-header col-md-9 font-bold text-right">
                                                Total Liabilities and Net Worth:    
                                            </div>
                                            <div class="card-header col-md-3 font-bold text-right">
                                                ${{ current_assets }}  
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Income Statement</h5>
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8 border-right border-left border-top border-bottom">
                                        <div class="card">
                                            <div class="row">
                                                <a class="card-header link col-md-6" data-toggle="collapse" data-parent="#accordian-4"
                                                    href="#Toggle-5" aria-expanded="true" aria-controls="Toggle-1">
                                                    <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                                                    <span>Gross Profit</span>
                                                </a>
                                                <div class="card-header col-md-6 text-right">
                                                    ${{ gp }}
                                                </div>
                                            </div>
                                            <div id="Toggle-5" class="collapse show multi-collapse">
                                                <div class="card-body row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Sales:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ sales }}
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Cogs:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ cogs }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <a class="card-header link col-md-6" data-toggle="collapse" data-parent="#accordian-4"
                                                    href="#Toggle-6" aria-expanded="true" aria-controls="Toggle-1">
                                                    <!-- <i class="fa fa-arrow-right" aria-hidden="true"></i> -->
                                                    <span>Expenses</span>
                                                </a>
                                                <div class="card-header col-md-6 text-right">
                                                    ${{ expenses }}
                                                </div>
                                            </div>
                                            <div id="Toggle-6" class="collapse show multi-collapse">
                                                <div class="card-body row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Payroll:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ payroll }}
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Payroll Withholding:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ withholding }}
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Bills:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ bills }}
                                                    </div>
                                                </div>
                                                <div class="card-body widget-content row">
                                                    <div class="col-md-2 text-left"></div>
                                                    <div class="col-md-5 text-left">
                                                        Annual Expenses:
                                                    </div>
                                                    <div class="col-md-5 text-right">
                                                        ${{ ann_exp }}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="card-header col-md-10 font-bold text-right">
                                                            Taxes:    
                                                        </div>
                                                        <div class="card-header col-md-2 font-bold text-right">
                                                            $0.00  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        <div class="card-footer col-md-10 font-bold text-right">
                                                            Net Income:    
                                                        </div>
                                                        <div class="card-footer col-md-2 font-bold text-right">
                                                            ${{ net_income }}  
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2"></div>
                                </div>
                                <div class="row">
                                    <div class="card-body"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ============================================================== -->
            <!-- End Container fluid  -->
            <!-- ============================================================== -->
{% endblock content %}